@media (max-width: 1460px) {
    .footer-sofa-img{
        width: 100%;
        max-width: 458px;
    }
    .footer-copyright-links{
        margin-left: 0;
    }
}
@media (max-width: 1300px) {
  .header-img {
    display: block;
    width: 100%;

  }
  .header-img-dots {
    right: 0;
    display: block;
    width: 100%;
    max-width: 260px;
  }
  .modern-img-dot{
    left: 0;
  }
}
@media (max-width: 1180px) {
  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .modern-box{
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .slick-prev{
    display: none !important;
  }
    .slick-next{
    display: none !important;
  }
  .blog-list{
    flex-direction: column;
    align-items: center;
  }
  .blog-item-text{
    margin-bottom: 20px;
  }
}
@media (max-width: 1028px) {
  .crafted-box {
    flex-direction: column;
  }
  .crafted-box-left {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 50px;
    flex-direction: row;
    align-items: flex-end;
  }
  .crafted-text {
    max-width: 210px;
  }
  .benefits-text {
    max-width: 320px;
  }
  .features-list{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 960px){
    .benefits-box{
        flex-direction: column;
    }
    .benefits-box-left{
      margin: 0 auto;
         margin-top: -100px;
    }
    .benefits-title{
       margin: 0 auto;
       margin-bottom: 30px;
    }
    .benefits-text{
         margin: 0 auto;
         text-align: center;
    }
    .benefits-list{
flex-wrap: nowrap;
        gap: 42px;
        max-width: 100%;
    }
.benefits-list-item{
    width: calc(100% - 42px);
}
.benefits-box-right{
    margin: 0 auto;
    margin-top: 100px;

}
.benefits-img-dots{
    top: -26px;
}
.benefits-img{
    margin-top: 26px;
    width: 100%;
}
.footer-part{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.subscribe{
justify-content: center;
}
.footer-sofa-img{
    position: static;
}
.footer-second-box{
    flex-wrap: wrap;
}
.footer-second-box-left{
    width: 100%;
}
.footer-second-box-right{
    justify-content: space-between;
    width: 100%;
    gap: 0;
}
}
@media (max-width: 768px) {
  .header-box {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .title {
    text-align: center;
    margin-bottom: 60px;
  }
  .crafted-box-left{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-box-btn {
    justify-content: center;
  }
  .crafted-list {
    
    flex-direction: column;
  }
  .benefits-list{
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .benefits-list-item{
    width: calc(50% - 42px);
}
.footer-copyright{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
}
@media (max-width: 680px) {
    .modern-box{
        flex-direction: column-reverse;
    }
    .modern-box-left{
width: 100%;
display: flex;
flex-direction: column;
gap: 25px;
    }
    .modern-img-chair, .modern-img-lamp{
        display: none;
    }
    .modern-img-dot{
        display: none;
    }
    .footer-form{
        flex-direction: column;
    }
}
@media (max-width: 584px) {
  .header-nav {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 490px) {
  .header-img-dots {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .benefits-list{
align-items: center;
  }

 .benefits-list-item{
width: 100%;
text-align: center;
 }
 .benefits-item-text{
    margin: 0 auto;
 }
 .modern-box-right{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .modern-list{
    flex-direction: column;
    align-items: center;
 }
 .modern-list-item{
    width: 100%;
 }
 .footer-second-box-right{
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
 }
 .footer-box-list{
    width: calc(50% - 40px);
 }
}
@media (max-width: 420px) {
  .title {
    font-size: 42px;
  }
  .crafted-box-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .blog-box{
    flex-direction: column;
  }
  .blog-link{
      margin-left: 0;
  }
}
@media (max-width: 360px) {
    .features-box{
        flex-direction: column;
    }
    .features-box-right{
        display: flex;
        flex-direction: column;
        align-items: center;
text-align: center;
    }
    .blog-item-img{
        display: block;
        width: 100%;
    }
}
