:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Urbanist", sans-serif;
}
.container{
    max-width: 1142px;
    margin: 0 auto;
}
.header{
    background: #3B5D50;
    padding-top: 24px;
}
.header-logo{
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
color: #fff;
text-decoration: none;
display: flex;
}
.header-logo::after{
    content: ".";
    color: rgba(255, 255, 255, 0.28);
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 43px;
}
.nav-item-link{
font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
color: #fff;
opacity: 0.5;
text-decoration: none;
}
.active{
    opacity: 1;
    border-bottom: 5px solid #f9bf29;
    padding-bottom: 7px;
}
.header-box{
    display: flex;
    justify-content: space-between;
    margin-top: 157px;
}
.header-box-left{

}
.title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 54px;
color: #fff;
margin-bottom: 117px;
}
.header-box-btn{
    display: flex;
    gap: 14px;
}
.header-button{
width: 132px;
padding-top: 11px;
padding-bottom: 11px;
background: transparent;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
border: 2px solid rgba(255, 255, 255, 0.29);
border-radius: 30px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 175%;
text-align: center;
color: #fff;
transition: all 0.5s;
}
.header-button:hover{
    color: #2f2f2f;
    background: #F9BF29;
}
.header-box-right{
    position: relative;
    z-index: 1;
}
.header-img-dots{
    position: absolute;
    top: 0;
    right: -95px;
    z-index: -1;
}
.crafted-box{
    display: flex;
    justify-content: space-between;
     padding-top: 164px;
     align-items: center;
}
.crafted-box-left{
    display: flex;
    flex-direction: column;  
}
.crafted-title{
font-family: var(--font-family);
font-weight: 600;
font-size: 34px;
color: #2f2f2f;
width: 205px;
}
.crafted-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #6a6a6a;
width: 200px;
margin-top: 27px;
}
.crafted-btn{
    border-radius: 30px;
width: 122px;
height: 50px;
background: #2f2f2f;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 175%;
text-align: center;
color: #fff;
margin-top: 75px;
}
.crafted-box-right{

}
.crafted-list{
    display: flex;
    gap: 79px;
}
.crafted-item{
    height: 349px;
}
.crafted-item-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #2f2f2f;
margin-top: 46px;
}
.crafted-item-title-kruzo{
margin-top: 48px;
}
.crafted-item-title-ergonomic{
    margin-top: 70px;
}
.crafted-item-price{
    font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 133%;
text-align: center;
color: #2f2f2f;
}
.benefits-box{
    padding-top: 220px;
    display: flex;
    justify-content: space-between;
}
.benefits-box-left{

}
.benefits-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 34px;
line-height: 121%;
color: #2f2f2f;
width: 261px;
}
.benefits-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #6a6a6a;
width: 380px;
margin-top: 27px;
}
.benefits-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 42px;
    max-width: 474px;
    margin-top: 88px;
}
.benefits-list-item{
width: calc(50% - 42px);
}
.benefits-item-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 14px;
line-height: 157%;
color: #2f2f2f;
}
.benefits-item-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #6a6a6a;
width: 190px;
}
.benefits-box-right{
    position: relative;
}

.benefits-img-dots{
position: absolute;
top: -52px;
left: -88px;
z-index: -1;
}
.modern{
    margin-top: 108px;
}
.modern-box{
display: flex;
justify-content: space-between;
}
.modern-box-left{
position: relative;
width: 642px;
}
.modern-img-dot{
position: absolute;
top: -55px;
left: -112px;
z-index: -1;
}
.modern-img-chair{
    position: absolute;
    bottom: -45px;
    right: 0;
    display: block;
    border-radius: 10px;
}
.modern-img-lamp{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 10px;
}
.modern-box-right{
    max-width: 450px;
}
.modern-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 34px;
line-height: 121%;
color: #2f2f2f;
max-width: 350px;
margin-bottom: 28px;
}
.modern-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #6a6a6a;
max-width: 400px;
margin-bottom: 31px;
}
.modern-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 41px;
    column-gap: 24px;
}
.modern-list-item{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 136%;
color: #6a6a6a;
    width: calc(50% - 41px);
}
.modern-btn{
    border-radius: 30px;
width: 122px;
height: 50px;
background: #2f2f2f;
border: none;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 175%;
text-align: center;
color: #fff;
margin-top: 38px;
}
.features{
    padding-top: 174px;
}
.features-list{
    display: flex;
    justify-content: space-around;
    gap: 49px;
}
.features-box{
    display: flex;
    align-items: center;
    gap: 33px;
}
.features-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 157%;
color: #000;
}
.features-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 157%;
color: #6a6a6a;
width: 190px;
margin-top: 11px;
}
.features-link{
    font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
line-height: 183%;
color: #6a6a6a;
margin-top: 11px;
text-decoration: none;
}
.testimonials{
  margin-top: 95px;
  margin-bottom: 41px;
}
.testimonials-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 34px;
line-height: 121%;
text-align: center;
color: #2f2f2f;
margin-bottom: 47px;
}
.testimonials-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 178%;
text-align: center;
color: #000;
max-width: 650px;
margin: 0 auto;
}
.testimonials-img{
    margin: 0 auto;
    margin-top: 42px;
    display: block;
    border-radius: 50%;
    margin-bottom: 13px;
}
.testimonials-author{
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;

text-align: center;
color: #000;
}
.testimonials-prof{
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
line-height: 246%;
text-align: center;
color: #2f2f2f;
}
.slick-prev{
    top: 10%;
}
.slick-next{
    top: 10%;
}
.blog{
    background: #eff2f1;
}
.blog-box{
    display: flex;
    margin-top: 41px;
    align-items: center;
}
.blog-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 34px;
line-height: 121%;
color: #2f2f2f;
}
.blog-link{
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 256%;
color: #2f2f2f;
text-decoration: none;
border-bottom: 3px solid #000;
margin-left: auto;
}
.blog-list{
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
}
.blog-item-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
color: #2f2f2f;
margin-top: 44px;
}
.blog-item-text{
    font-family: var(--font-family);
font-style: italic;
font-weight: 400;
font-size: 14px;
color: #2f2f2f;
margin-top: 5px;
margin-bottom: 159px;
}
.blog-item-text-weight{
    font-weight: 600;
}
.footer{
    margin-top: 98px;
    background: #fff;
}
.subscribe{
    display: flex;
    gap: 12px;
    align-items: center;
}
.footer-part{
    display: flex;
    justify-content: space-between;
   align-items: flex-start;
   position: relative;
}
.footer-sofa-img{
    display: block;
    position: absolute;
 top: -200px;
 right: 0;
}
.footer-part-title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
color: #2f2f2f;
}
.footer-form{
    display: flex;
gap: 15px;
align-items: center;
}
.footer-input{
    margin-top: 24px;
width: 230px;
padding-top: 14px;
padding-left: 22px;
padding-bottom: 17px;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #2f2f2f;
border: 1px solid #c4c4c4;
border-radius: 10px;
}
.footer-form-btn{
    border: 1px solid #c4c4c4;
    background: #35736e;
border-radius: 10px;
width: 50px;
padding-top: 9.5px;
padding-bottom: 10px;
margin-top: 24px;
}
.footer-part-right{

}
.footer-sofa-img{
 
}
.footer-second-box{
    display: flex;
    margin-top: 138px;
}
.footer-second-box-title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
color: #000;
}
.footer-second-box-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #6a6a6a;
width: 320px;
margin-top: 21px;
padding-right: 65px;
}
.footer-media-list{
    display: flex;
    gap: 11px;
    margin-top: 41px;
}
.footer-media-link{
    display: flex;
    background-color: #d9d9d9;
border-radius: 100%;
width: 41px;
height: 41px;
justify-content: center;
align-items: center;
}
.footer-media-img{

}
.footer-second-box-right{
    display: flex;
    gap: 87px;
    margin-top: 50px;
}
.footer-box-list{

}

.footer-box-item-link{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 200%;
color: #6a6a6a;
text-decoration: none;
}
.footer-copyright{
    display: flex;
    border-top: 1px solid #eff2f1;
margin-top: 32px;
padding-top: 36px;
}

.footer-copyright-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
line-height: 185%;
color: #6a6a6a;
}
.footer-copyright-links{
    display: flex;
    margin-left: auto;
    gap: 42px;
    margin-bottom: 96px;
}
.footer-copyright-link{
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
text-align: right;
color: #6a6a6a;
text-decoration: none;
}